<div id="<%= dom_id report_recipient %>">
  <p>
    <strong>Report:</strong>
    <%= report_recipient.report_id %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= report_recipient.email %>
  </p>

  <p>
    <strong>Role:</strong>
    <%= report_recipient.role %>
  </p>

</div>
