<% content_for :title, "New report recipient" %>

<h1>New report recipient</h1>

<%= render "form", report_recipient: @report_recipient %>

<br>

<div>
  <%= link_to "Back to report recipients", report_recipients_path %>
</div>
