<div id="<%= dom_id air_quality_reading %>">
  <p>
    <strong>Timestamp:</strong>
    <%= air_quality_reading.timestamp %>
  </p>

  <p>
    <strong>Aqi:</strong>
    <%= air_quality_reading.aqi %>
  </p>

  <p>
    <strong>Source:</strong>
    <%= air_quality_reading.source %>
  </p>

</div>
