<% content_for :title, "Editing air quality reading" %>

<h1>Editing air quality reading</h1>

<%= render "form", air_quality_reading: @air_quality_reading %>

<br>

<div>
  <%= link_to "Show this air quality reading", @air_quality_reading %> |
  <%= link_to "Back to air quality readings", air_quality_readings_path %>
</div>
